
body {
    background-color: #f2f2f2;
}

.my-header {
    background-color: #009688;
    height: auto !important;
}

/*返回顶部*/
.return_top {
    position: fixed;
    display: none;
    bottom: 80px;
    right: 0;
    width: 70px;
    height: 70px;
    background-color: #20d052  !important;
    text-align: center;
    border-radius: 50%;
    z-index: 999;
    font: 18px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif !important;

}

.return_top i {
    font-size: 60px !important;
    color: white;
}

.my-search .search-input {
    padding: 6px 12px;
    font-size: 14px;
    width: 300px;
    margin-left: 20px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.my-search .search-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.my-search button {
    background-color: snow;
    border: 0px;

}

.my-search .search-btn {
    position: absolute;
    cursor: pointer;
    z-index: 33;
    font-size: 30px;
}