{% extends 'web/base.html' %}
{% block title  %}
    <a href="{% url 'web_index' %}" style="text-decoration: none"><h3>Android工程师</h3></a>
{% endblock %}

{#各方向平均工资展示#}
{% block  average-wage %}
{#    <div class="boxnav" style="height: 330px;"></div>#}
     <div class="boxnav" style="height: 330px;"></div>
{% endblock %}


{% block  Employment %}
{% endblock %}

{% block  Study %}
{% endblock %}

{% block  Proportion-wordcloud %}
{% endblock %}


{% block  Technical-proportion %}
{% endblock %}