{% extends "myadmin/base.html" %}

{% block main_body %}
    <section class="content-header">
      <h1>
        北京地区数据管理
        <small>最新发布的数据</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'data_index' %}"><i class="fa fa-dashboard"></i>首页</a></li>
        <li class="active"><a href="{% url 'data_index' %}">返回</a></li>
      </ol>
    </section>
    <section class="content container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>200</h3>
              <p>Python</p>
            </div>
            <div class="icon">

            </div>
            <a href="{% url 'data_beijing' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>150<sup style="font-size: 20px"></sup></h3>
              <p>Android开发</p>
            </div>
            <div class="icon">

            </div>
            <a href="{% url 'data_shanghai' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>250</h3>
              <p>Java开发</p>
            </div>
            <div class="icon">

            </div>
            <a href="{% url 'data_guangzhou' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red table-responsive">
            <div class="inner">
                     <h3>200</h3>
              <p>Node.JS</p>
            </div>
            <div class="icon">

            </div>
            <a href="{% url 'data_shenzhen' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->


      </div>
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>180</h3>
              <p>PHP</p>
            </div>
            <div class="icon">

            </div>
            <a href="{% url 'data_beijing' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-teal">
            <div class="inner">
              <h3>190<sup style="font-size: 20px"></sup></h3>
              <p>UI设计师</p>
            </div>
            <div class="icon">

            </div>
            <a href="{% url 'data_shanghai' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-purple">
            <div class="inner">
              <h3>290</h3>
              <p>web前端</p>
            </div>
            <div class="icon">

            </div>
            <a href="{% url 'data_guangzhou' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue table-responsive">
            <div class="inner">
                     <h3>360</h3>
              <p>大数据</p>
            </div>
            <div class="icon">

            </div>
            <a href="{% url 'data_shenzhen' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->


      </div>
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-gray-active">
            <div class="inner">
              <h3>360</h3>
              <p>区块链</p>
            </div>
            <div class="icon">

            </div>
            <a href="{% url 'data_beijing' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-fuchsia-active">
            <div class="inner">
              <h3>190<sup style="font-size: 20px"></sup></h3>
              <p>人工智能</p>
            </div>
            <div class="icon">

            </div>
            <a href="{% url 'data_shanghai' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-lime-active">
            <div class="inner">
              <h3>260</h3>
              <p>数据分析</p>
            </div>
            <div class="icon">

            </div>
            <a href="{% url 'data_guangzhou' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-olive-active table-responsive">
            <div class="inner">
                     <h3>80</h3>
              <p>算法工程师</p>
            </div>
            <div class="icon">
            </div>
            <a href="{% url 'data_shenzhen' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->


      </div>
        <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-orange-active">
            <div class="inner">
              <h3>50</h3>
              <p>测试工程师</p>
            </div>
            <div class="icon">

            </div>
            <a href="{% url 'data_beijing' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>



      </div>
    </section>

{% endblock %}